# Data Cleaning
## Cleaning Senior Center Provider Data
---

In [1]:
import numpy as np
import pandas as pd

### Importing FY 2020 Senior Center Provider Data .csv file as dataframe

In [2]:
scpd_raw = pd.read_csv('raw_csv/senior_center_provider_data_fy2020.csv')

# Make a copy of the raw dataframe
scpd = scpd_raw.copy()

---
### Cleaning the data

In [3]:
# Check for duplicated rows
print(f'There are {scpd.duplicated().sum()} duplicated rows in the scpd dataframe.')

There are 0 duplicated rows in the scpd dataframe.

In [4]:
print(f'The scpd dataframe currently has this shape: {scpd.shape}')

# Drop columns you won't be using
scpd.drop(columns = ['Sponsor Name', 'Program Address', 'Program Address1', 'Postcode',
                    'Community Board', 'Council D istrict', 'Sunday', 'Monday', 'Tuesday',
                     'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Fiscal Year Amount',
                     'FY 20 Actual Meals', 'Meal Prep', 'Meals Prep for Others', 'Borough',
                     'Census Tract', 'BIN', 'BBL', 'NTA'], inplace = True)

print(f'The scpd dataframe now has this shape: {scpd.shape}')

The scpd dataframe currently has this shape: (294, 49)
The scpd dataframe now has this shape: (294, 27)

In [5]:
# Rename columns to be more intuitive (based on data dictionary descriptions)
scpd.rename(columns = {
    'Provider Name': 'Senior Center Name',
    'Borough/City': 'Borough',
    '# of Full-time Staff': 'Total FTEs',
    '# of Part-time Staff': 'Total PTEs',
    'Average Daily Participants': 'Average Daily Clients',
    'Kosher Raw Food/ Disposable': 'Kosher Meal Budget',
    'Non-Kosher Raw Food/ Disposable': 'Non-Kosher Meal Budget',
    'Total Raw Food/ Disposable': 'Total Meal Budget',
    'Expenditures per Meal for Food and Disposable': 'Average Meal Expenditure Per Client',
    'Meal Prep1': 'Meal Prep Type',
    'Prep for Others1': 'Meal Prep For Other Centers',
    'Annual Expenditures for Information and Assistance, Education and Recreation, Health Promotion': 'Total AIB-SCE-HPP Expenditures',
    'Annual Expenditures Per Client for Information and Assistance, Education and Recreation, Health Promotion': 'Average AIB-SCE-HPP Expenditures Per Client',
    'Ultilization': 'Percent Utilization'
}, inplace = True)

print(f'The columns are now named:\n{scpd.columns}')

The columns are now named:
Index(['DFTA ID', 'Senior Center Name', 'Site Type', 'Borough',
       'Contract From Date', 'Contract To Date', 'FY 20 Budget',
       'FY 20 Reimbursement', 'Total FTEs', 'Total PTEs', 'Personnel Budget',
       'Months in HHS', 'Total FY20 Budget', 'Total FY20 Personnel Budget',
       'Total FY20 Reimbursement', 'Average Daily Clients',
       'Kosher Meal Budget', 'Non-Kosher Meal Budget', 'Total Meal Budget',
       'Average Meal Expenditure Per Client', 'Meal Prep Type',
       'Meal Prep For Other Centers', 'Total AIB-SCE-HPP Expenditures',
       'Average AIB-SCE-HPP Expenditures Per Client', 'Percent Utilization',
       'Latitude', 'Longitude'],
      dtype='object')

In [6]:
# Check which columns have NaNs, and count the total NaNs for that column
(scpd.isna().sum()).loc[(scpd.isna().sum()) > 0]

Total FTEs                                       1
Months in HHS                                   18
Total FY20 Budget                               18
Total FY20 Personnel Budget                     18
Total FY20 Reimbursement                        18
Average Daily Clients                          120
Meal Prep Type                                  27
Meal Prep For Other Centers                     27
Average AIB-SCE-HPP Expenditures Per Client    120
Latitude                                        11
Longitude                                       11
dtype: int64

In [7]:
# Pull only the rows that have NaNs in 'Total FY20 Budget', 'Total FY20 Personnel Budget', and 'Total FY20 Reimbursement'
budg_reim_nans = scpd.loc[scpd['Total FY20 Budget'].isna(), ['FY 20 Budget', 'Personnel Budget', 'FY 20 Reimbursement', 'Total FY20 Budget',
                                       'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']]
budg_reim_nans

,FY 20 Budget,Personnel Budget,FY 20 Reimbursement,Total FY20 Budget,Total FY20 Personnel Budget,Total FY20 Reimbursement
3,1289365.00,735227.66,1218745.04,NaN,NaN,NaN
105,187556.00,119205.00,154187.28,NaN,NaN,NaN
110,1191748.85,831404.13,1156048.00,NaN,NaN,NaN
111,858483.19,587697.40,755918.89,NaN,NaN,NaN
112,846919.00,362411.09,579071.58,NaN,NaN,NaN
146,1043359.00,639726.27,604745.91,NaN,NaN,NaN
209,1417124.00,755912.38,1306070.22,NaN,NaN,NaN
210,446362.00,204597.79,420444.92,NaN,NaN,NaN
211,626000.00,193153.50,411426.77,NaN,NaN,NaN
250,1300429.00,796655.84,1300429.00,NaN,NaN,NaN
251,267523.00,157963.26,267523.00,NaN,NaN,NaN
252,1137591.51,1001096.95,1115001.48,NaN,NaN,NaN
253,1105272.00,693177.65,1105272.00,NaN,NaN,NaN
254,1062729.00,713226.40,976936.91,NaN,NaN,NaN
285,1242852.00,708084.29,934850.26,NaN,NaN,NaN
286,171851.00,107754.82,164840.90,NaN,NaN,NaN
287,1466325.00,730274.73,1050730.24,NaN,NaN,NaN
288,1648998.00,1035410.06,1419842.75,NaN,NaN,NaN

In [8]:
# Fill NaNs in 'Total FY20 Budget', 'Total FY20 Personnel Budget', and 'Total FY20 Reimbursement' with corresponding values
# in 'FY 20 Budget', 'Personnel Budget', and 'FY 20 Reimbursement' columns
fill_cols = ['Total FY20 Budget', 'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']
fill_dict = {
    'Total FY20 Budget': 'FY 20 Budget',
    'Total FY20 Personnel Budget': 'Personnel Budget',
    'Total FY20 Reimbursement': 'FY 20 Reimbursement'
}

for col in fill_cols:
    scpd.loc[scpd[col].isna(), col] = scpd.loc[scpd[col].isna(), col].fillna(scpd.loc[scpd[col].isna(), fill_dict[col]])
    
# Check to see that those specific rows have been filled appropriately
scpd.loc[budg_reim_nans.index, ['FY 20 Budget', 'Personnel Budget', 'FY 20 Reimbursement', 'Total FY20 Budget', 'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']]

,FY 20 Budget,Personnel Budget,FY 20 Reimbursement,Total FY20 Budget,Total FY20 Personnel Budget,Total FY20 Reimbursement
3,1289365.00,735227.66,1218745.04,1289365.00,735227.66,1218745.04
105,187556.00,119205.00,154187.28,187556.00,119205.00,154187.28
110,1191748.85,831404.13,1156048.00,1191748.85,831404.13,1156048.00
111,858483.19,587697.40,755918.89,858483.19,587697.40,755918.89
112,846919.00,362411.09,579071.58,846919.00,362411.09,579071.58
146,1043359.00,639726.27,604745.91,1043359.00,639726.27,604745.91
209,1417124.00,755912.38,1306070.22,1417124.00,755912.38,1306070.22
210,446362.00,204597.79,420444.92,446362.00,204597.79,420444.92
211,626000.00,193153.50,411426.77,626000.00,193153.50,411426.77
250,1300429.00,796655.84,1300429.00,1300429.00,796655.84,1300429.00
251,267523.00,157963.26,267523.00,267523.00,157963.26,267523.00
252,1137591.51,1001096.95,1115001.48,1137591.51,1001096.95,1115001.48
253,1105272.00,693177.65,1105272.00,1105272.00,693177.65,1105272.00
254,1062729.00,713226.40,976936.91,1062729.00,713226.40,976936.91
285,1242852.00,708084.29,934850.26,1242852.00,708084.29,934850.26
286,171851.00,107754.82,164840.90,171851.00,107754.82,164840.90
287,1466325.00,730274.73,1050730.24,1466325.00,730274.73,1050730.24
288,1648998.00,1035410.06,1419842.75,1648998.00,1035410.06,1419842.75

In [9]:
# Drop redundant budget and reimbursement columns
scpd.drop(columns = ['FY 20 Budget', 'Personnel Budget', 'FY 20 Reimbursement'], inplace = True)

print(f'The scpd dataframe now has this shape: {scpd.shape}')

# Rename columns to be more intuitive (based on data dictionary descriptions)
scpd.rename(columns = {
    'Total FY20 Budget': 'Total Budget',
    'Total FY20 Personnel Budget': 'Total Personnel Budget',
    'Total FY20 Reimbursement': 'Total Expenses'
}, inplace = True)

The scpd dataframe now has this shape: (294, 24)

In [10]:
# Pull only the rows that have NaNs in 'Latitude' or 'Longitude', and get the Program address from the original raw dataframe
lat_long_nans = scpd_raw.loc[(scpd_raw['Latitude'].isna()) & (scpd_raw['Longitude'].isna()), ['Provider Name', 'Program Address', 'Program Address1', 'Latitude', 'Longitude']]
lat_long_nans

,Provider Name,Program Address,Program Address1,Latitude,Longitude
102,ARROCHAR NEIGHBORHOOD SENIOR CENTER,44 BIONA AVENUE,NaN,NaN,NaN
126,MORRISANIA AIR RIGHTS SOCIAL CLUB,3135 PARK AVENUE EAST,NaN,NaN,NaN
139,RAIN MT CARMEL NEIGHBORHOOD SENIOR CTR,2405 SOUTHERN BOLULEVARD,NaN,NaN,NaN
169,HUGH GILROY NEIGHBORHOOD SENIOR CENTER,447 KINGSBOROUGH,NaN,NaN,NaN
179,HOMECREST BENSONHURST NEIGHBORHOOD SENIOR CENTER,BROOKLYN,NaN,NaN,NaN
192,CCNS ST CHARLES NEIGHBORHOOD SENIOR CENT,55 PIERREPORT STREET,NaN,NaN,NaN
214,POLO GROUNDS,2965 FREDERICK DOUGLASS BOULEVARD,NaN,NaN,NaN
228,JEFFERSON HOUSES NSC,2205 FIST AVENUE,NaN,NaN,NaN
231,FOOD BANK NEIGHBORHOOD SENIOR CENTER,WEST 116TH STREET,NaN,NaN,NaN
260,HANAC RAVENSWOOD NSC,34-35A 12TH STREET,12TH STREET,NaN,NaN
273,HOLLISWOOD NEIGHBORHOOD SENIOR CENTER,86-25 FRANCES LEWIS BLVD,NaN,NaN,NaN

In [11]:
# Fill NaNs in 'Latitude' and 'Longitude' with corresponding values in fill_dict
fill_cols = ['Latitude', 'Longitude']
fill_dict = {
    102: [40.596868706020445, -74.07555607642975],
    126: [40.82651347755042, -73.91661122662934],
    139: [40.85396935386981, -73.88190264660648],
    169: [40.67530765760249, -73.92446824134545],
    179: [40.602035938136076, -73.95715926297987],
    192: [40.696071010269755, -73.99506336199069],
    214: [40.830937975634, -73.93751073154422],
    228: [40.79462754058644, -73.93706847434424],
    231: [40.80412527380681, -73.95489674318942],
    260: [40.76252319677368, -73.93704370456038],
    273: [40.72522541418266, -73.76483607547621]
}
fill_df = pd.DataFrame(fill_dict.values(), index = fill_dict.keys(), columns = ['Latitude', 'Longitude'])

for col in fill_cols:
    scpd.loc[scpd[col].isna(), col] = scpd.loc[scpd[col].isna(), col].fillna(fill_df[col])

In [12]:
# Pull rows associated with meal budget & expenditure where the value is $0.00
scpd.loc[scpd['Total Meal Budget'] == 0, ['Kosher Meal Budget', 'Non-Kosher Meal Budget', 'Total Meal Budget', 'Average Meal Expenditure Per Client']]

,Kosher Meal Budget,Non-Kosher Meal Budget,Total Meal Budget,Average Meal Expenditure Per Client
5,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0
31,0.0,0.0,0.0,0.0
56,0.0,0.0,0.0,0.0
66,0.0,0.0,0.0,0.0
83,0.0,0.0,0.0,0.0
126,0.0,0.0,0.0,0.0
165,0.0,0.0,0.0,0.0
167,0.0,0.0,0.0,0.0
188,0.0,0.0,0.0,0.0
208,0.0,0.0,0.0,0.0
215,0.0,0.0,0.0,0.0
241,0.0,0.0,0.0,0.0
275,0.0,0.0,0.0,0.0
281,0.0,0.0,0.0,0.0
286,0.0,0.0,0.0,0.0
293,0.0,0.0,0.0,0.0

In [13]:
# Replace zeroes in 'Kosher Meal Budget', 'Non-Kosher Meal Budget', 'Total Meal Budget', 'Average Meal Expenditure Per Client', and 'Total AIB-SCE-HPP Expenditures' with NaN
fill_cols = ['Kosher Meal Budget', 'Non-Kosher Meal Budget', 'Total Meal Budget', 'Average Meal Expenditure Per Client', 'Total AIB-SCE-HPP Expenditures']

for col in fill_cols:
    scpd.loc[scpd[col] == 0, col] = scpd.loc[scpd[col].isna(), col].replace(0, np.nan)

In [14]:
# Fill NaNs in 'Total FTEs' and 'Months in HHS' columns with 0
for col in ['Total FTEs', 'Months in HHS']:
    scpd[col] = scpd[col].fillna(0)

In [15]:
# Title-case columns with strings
for col in ['Senior Center Name', 'Site Type', 'Borough', 'Meal Prep Type']:
    scpd[col] = scpd[col].str.title()

In [16]:
# Fill NaNs in 'Meal Prep Type' with 'Not Applicable'
scpd.loc[scpd['Meal Prep Type'].isna(), 'Meal Prep Type'] = scpd.loc[scpd['Meal Prep Type'].isna(), 'Meal Prep Type'].fillna('Not Applicable')

In [17]:
# Fill NaNs in 'Meal Prep For Other Centers' with 'No'
scpd.loc[scpd['Meal Prep For Other Centers'].isna(), 'Meal Prep For Other Centers'] = scpd.loc[scpd['Meal Prep For Other Centers'].isna(), 'Meal Prep For Other Centers'].fillna('No')

In [18]:
# Change data type of 'Total FTEs' and 'Months in HHS' to integer
for col in ['Total FTEs', 'Months in HHS']:
    scpd[col] = scpd[col].astype(int)

In [19]:
# Re-check which columns have NaNs, and count the total NaNs for that column
(scpd.isna().sum()).loc[(scpd.isna().sum()) > 0]

Average Daily Clients                          120
Kosher Meal Budget                             273
Non-Kosher Meal Budget                          39
Total Meal Budget                               18
Average Meal Expenditure Per Client             20
Total AIB-SCE-HPP Expenditures                   2
Average AIB-SCE-HPP Expenditures Per Client    120
dtype: int64

### Derive and add columns

In [20]:
# Add five derived columns to scpd dataframe
scpd['Total Employees'] = scpd['Total FTEs'] + scpd['Total PTEs']
scpd['Client to Staff Ratio'] = scpd['Average Daily Clients'] / scpd['Total Employees']
scpd['PTE Status'] = scpd['Total PTEs'].apply(lambda num: 'Has No PTEs' if num == 0 else 'Has PTEs')
scpd['% Budget Allocated for Personnel'] = scpd['Total Personnel Budget'] / scpd['Total Budget']
scpd['% Budget Allocated for Meals'] = scpd['Total Meal Budget'] / scpd['Total Budget']
scpd['% Budget Used for AIB, SCE, & HPP Services'] = scpd['Total AIB-SCE-HPP Expenditures'] / scpd['Total Budget']

### Check the final cleaned dataframe

In [21]:
print(f'The cleaned scpd dataframe now has this shape: {scpd.shape}\n')
print(f'The columns are now named:\n{scpd.columns}')

The cleaned scpd dataframe now has this shape: (294, 30)

The columns are now named:
Index(['DFTA ID', 'Senior Center Name', 'Site Type', 'Borough',
       'Contract From Date', 'Contract To Date', 'Total FTEs', 'Total PTEs',
       'Months in HHS', 'Total Budget', 'Total Personnel Budget',
       'Total Expenses', 'Average Daily Clients', 'Kosher Meal Budget',
       'Non-Kosher Meal Budget', 'Total Meal Budget',
       'Average Meal Expenditure Per Client', 'Meal Prep Type',
       'Meal Prep For Other Centers', 'Total AIB-SCE-HPP Expenditures',
       'Average AIB-SCE-HPP Expenditures Per Client', 'Percent Utilization',
       'Latitude', 'Longitude', 'Total Employees', 'Client to Staff Ratio',
       'PTE Status', '% Budget Allocated for Personnel',
       '% Budget Allocated for Meals',
       '% Budget Used for AIB, SCE, & HPP Services'],
      dtype='object')

---
## Cleaning Senior Center Client Data
---
### Importing FY 2020 Senior Center Client Data .csv file as dataframe

In [22]:
sccd_raw = pd.read_csv('raw_csv/senior_center_client_data_fy2020.csv')

# Make a copy of the raw dataframe
sccd = sccd_raw.copy()

---
### Cleaning the data

In [23]:
# Check for duplicated rows
print(f'There are {sccd.duplicated().sum()} duplicated rows in the sccd dataframe.')

There are 0 duplicated rows in the sccd dataframe.

In [24]:
print(f'The sccd dataframe currently has this shape: {sccd.shape}')

# Merge columns from senior center provider dataset (i.e. left join sccd with scpd)
merge_cols = ['Senior Center Name', 'Site Type', 'Borough', 'Meal Prep Type', 'Meal Prep For Other Centers', 'Total Employees', 'Client to Staff Ratio', 'PTE Status']
sccd = sccd.merge(scpd[merge_cols], how = 'left', left_on = 'dftaid', right_on = scpd['DFTA ID'])

print(f'The sccd dataframe now has this shape: {sccd.shape}')

The sccd dataframe currently has this shape: (69156, 12)
The sccd dataframe now has this shape: (69156, 20)

In [25]:
sccd.columns

Index(['dftaid', 'provider_name', 'service_date', 'total_daily',
       'breakfast_units', 'lunch_units', 'dinner_units', 'tot_meals',
       'aib_tot', 'sce_tot', 'hpp_tot', 'tot_serv_pp', 'Senior Center Name',
       'Site Type', 'Borough', 'Meal Prep Type', 'Meal Prep For Other Centers',
       'Total Employees', 'Client to Staff Ratio', 'PTE Status'],
      dtype='object')

In [26]:
# Rename columns to be more intuitive (based on data dictionary descriptions)
sccd.rename(columns = {
    'dftaid': 'DFTA ID',
    'service_date': 'Service Date',
    'total_daily': 'Total Daily Services',
    'breakfast_units': 'Total Breakfasts Served',
    'lunch_units': 'Total Lunches Served',
    'dinner_units': 'Total Dinners Served',
    'tot_meals': 'Total Meals Served',
    'aib_tot': 'Total AIB Services',
    'sce_tot': 'Total SCE Services',
    'hpp_tot': 'Total HPP Services',
    'tot_serv_pp': 'Total Clients Served',
    'Senior Center Name_x': 'Senior Center Name',
    'Site Type_x': 'Site Type', 
    'Borough_x': 'Borough', 
    'Meal Prep Type_x': 'Meal Prep Type',
    'Meal Prep For Other Centers_x': 'Meal Prep For Other Centers', 
    'Total Employees_x': 'Total Employees',
    'Client to Staff Ratio_x': 'Client to Staff Ratio', 
    'PTE Status_x': 'PTE Status', 
    'Senior Center Name_y': 'Senior Center Name',
    'Site Type_y': 'Site Type', 
    'Borough_y': 'Borough', 
    'Meal Prep Type_y': 'Meal Prep Type',
    'Meal Prep For Other Centers_y': 'Meal Prep For Other Centers', 
    'Total Employees_y': 'Total Employees',
    'Client to Staff Ratio_y': 'Client to Staff Ratio', 
    'PTE Status_y': 'PTE Status'
}, inplace = True)

# Drop the redundant provider_name column, since there is a merged Senior Center Name column now
sccd.drop(columns = 'provider_name', inplace = True)
    
print(f'The columns are now named:\n{sccd.columns}')

The columns are now named:
Index(['DFTA ID', 'Service Date', 'Total Daily Services',
       'Total Breakfasts Served', 'Total Lunches Served',
       'Total Dinners Served', 'Total Meals Served', 'Total AIB Services',
       'Total SCE Services', 'Total HPP Services', 'Total Clients Served',
       'Senior Center Name', 'Site Type', 'Borough', 'Meal Prep Type',
       'Meal Prep For Other Centers', 'Total Employees',
       'Client to Staff Ratio', 'PTE Status'],
      dtype='object')

In [27]:
# Check which columns have NaNs, and count the total NaNs for that column
(sccd.isna().sum()).loc[(sccd.isna().sum()) > 0]

Senior Center Name              4982
Site Type                       4982
Borough                         4982
Meal Prep Type                  4982
Meal Prep For Other Centers     4982
Total Employees                 4982
Client to Staff Ratio          28250
PTE Status                      4982
dtype: int64

In [28]:
# Drop the rows that have NaNs in Senior Center Name (i.e. didn't have a match in scpd dataframe)
sccd.drop(index = sccd[sccd['Senior Center Name'].isna()].index, inplace = True)

# Re-check which columns have NaNs, and count the total NaNs for that column
(sccd.isna().sum()).loc[(sccd.isna().sum()) > 0]

print(f'The sccd dataframe now has this shape: {sccd.shape}')

The sccd dataframe now has this shape: (64174, 19)

In [29]:
# Cast the values in 'Service Date' to datetimes
sccd['Service Date'] = pd.to_datetime(sccd['Service Date'], format = '%m/%d/%Y')

# Derive a columns called 'Service Month' and 'Service Month as Num' from the 'Service Date' column
sccd['Service Month'] = sccd['Service Date'].dt.strftime('%B %Y')
sccd['Service Month as Num'] = sccd['Service Date'].dt.month

# Derive a column called 'Service Day of Week' from the 'Service Date' column
# Assuming 'date_column' is your datetime column
sccd['Service Day of Week'] = sccd['Service Date'].dt.dayofweek

day_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
sccd['Service Day of Week'] = sccd['Service Day of Week'].map(lambda day: day_names[day])

# Derive a column called 'Fiscal Quarter' from the 'Service Month' column
def get_fiscal_quarter(month):
    if month in ['July 2019', 'August 2019', 'September 2019']:
        return 'Q1'
    elif month in ['October 2019', 'November 2019', 'December 2019']:
        return 'Q2'
    elif month in ['January 2020', 'February 2020', 'March 2020']:
        return 'Q3'
    elif month in ['April 2020', 'May 2020', 'June 2020']:
        return 'Q4'
    
sccd['Fiscal Quarter'] = sccd['Service Month'].apply(get_fiscal_quarter)