# Data Cleaning
---

In [1]:
import numpy as np
import pandas as pd

### Importing FY 2020 Senior Center .csv files as dataframes

In [2]:
sccd_raw = pd.read_csv('raw_csv/senior_center_client_data_fy2020.csv')
scpd_raw = pd.read_csv('raw_csv/senior_center_provider_data_fy2020.csv')

# Make a copy of the raw dataframes
sccd = sccd_raw.copy()
scpd = scpd_raw.copy()

---
### Cleaning Senior Center Provider Data

In [3]:
# Check for duplicated rows
print(f'There are {scpd.duplicated().sum()} duplicated rows in the scpd dataframe.')

There are 0 duplicated rows in the scpd dataframe.

In [4]:
print(f'The scpd dataframe currently has this shape: {scpd.shape}')

# Drop columns you won't be using
scpd.drop(columns = ['Sponsor Name', 'Program Address', 'Program Address1', 'Postcode',
                    'Community Board', 'Council D istrict', 'Sunday', 'Monday', 'Tuesday',
                     'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Fiscal Year Amount',
                     'FY 20 Actual Meals', 'Meal Prep', 'Meals Prep for Others', 'Borough',
                     'Census Tract', 'BIN', 'BBL', 'NTA'], inplace = True)

print(f'The scpd dataframe now has this shape: {scpd.shape}')

The scpd dataframe currently has this shape: (294, 49)
The scpd dataframe now has this shape: (294, 27)

In [5]:
# Rename columns to be more intuitive (based on data dictionary descriptions)
scpd.rename(columns = {
    'Provider Name': 'Senior Center Name',
    'Borough/City': 'Borough',
    '# of Full-time Staff': 'Total FTEs',
    '# of Part-time Staff': 'Total PTEs',
    'Average Daily Participants': 'Average Daily Clients',
    'Kosher Raw Food/ Disposable': 'Kosher Meal Budget',
    'Non-Kosher Raw Food/ Disposable': 'Non-Kosher Meal Budget',
    'Total Raw Food/ Disposable': 'Total Meal Budget',
    'Expenditures per Meal for Food and Disposable': 'Average Meal Expenditure Per Client',
    'Meal Prep1': 'Meal Prep Type',
    'Prep for Others1': 'Meal Prep For Other Centers',
    'Annual Expenditures for Information and Assistance, Education and Recreation, Health Promotion': 'Total AIB-SCE-HPP Expenditures',
    'Annual Expenditures Per Client for Information and Assistance, Education and Recreation, Health Promotion': 'Average AIB-SCE-HPP Expenditures Per Client',
    'Ultilization': 'Percent Utilization'
}, inplace = True)

print(f'The columns are now named:\n{scpd.columns}')

The columns are now named:
Index(['DFTA ID', 'Senior Center Name', 'Site Type', 'Borough',
       'Contract From Date', 'Contract To Date', 'FY 20 Budget',
       'FY 20 Reimbursement', 'Total FTEs', 'Total PTEs', 'Personnel Budget',
       'Months in HHS', 'Total FY20 Budget', 'Total FY20 Personnel Budget',
       'Total FY20 Reimbursement', 'Average Daily Clients',
       'Kosher Meal Budget', 'Non-Kosher Meal Budget', 'Total Meal Budget',
       'Average Meal Expenditure Per Client', 'Meal Prep Type',
       'Meal Prep For Other Centers', 'Total AIB-SCE-HPP Expenditures',
       'Average AIB-SCE-HPP Expenditures Per Client', 'Percent Utilization',
       'Latitude', 'Longitude'],
      dtype='object')

In [6]:
# Check which columns have NaNs, and count the total NaNs for that column
(scpd.isna().sum()).loc[(scpd.isna().sum()) > 0]

Total FTEs                                       1
Months in HHS                                   18
Total FY20 Budget                               18
Total FY20 Personnel Budget                     18
Total FY20 Reimbursement                        18
Average Daily Clients                          120
Meal Prep Type                                  27
Meal Prep For Other Centers                     27
Average AIB-SCE-HPP Expenditures Per Client    120
Latitude                                        11
Longitude                                       11
dtype: int64

In [7]:
# Pull only the rows that have NaNs in 'Total FY20 Budget', 'Total FY20 Personnel Budget', and 'Total FY20 Reimbursement'
budg_reim_nans = scpd.loc[scpd['Total FY20 Budget'].isna(), ['FY 20 Budget', 'Personnel Budget', 'FY 20 Reimbursement', 'Total FY20 Budget',
                                       'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']]
budg_reim_nans

,FY 20 Budget,Personnel Budget,FY 20 Reimbursement,Total FY20 Budget,Total FY20 Personnel Budget,Total FY20 Reimbursement
3,1289365.00,735227.66,1218745.04,NaN,NaN,NaN
105,187556.00,119205.00,154187.28,NaN,NaN,NaN
110,1191748.85,831404.13,1156048.00,NaN,NaN,NaN
111,858483.19,587697.40,755918.89,NaN,NaN,NaN
112,846919.00,362411.09,579071.58,NaN,NaN,NaN
146,1043359.00,639726.27,604745.91,NaN,NaN,NaN
209,1417124.00,755912.38,1306070.22,NaN,NaN,NaN
210,446362.00,204597.79,420444.92,NaN,NaN,NaN
211,626000.00,193153.50,411426.77,NaN,NaN,NaN
250,1300429.00,796655.84,1300429.00,NaN,NaN,NaN
251,267523.00,157963.26,267523.00,NaN,NaN,NaN
252,1137591.51,1001096.95,1115001.48,NaN,NaN,NaN
253,1105272.00,693177.65,1105272.00,NaN,NaN,NaN
254,1062729.00,713226.40,976936.91,NaN,NaN,NaN
285,1242852.00,708084.29,934850.26,NaN,NaN,NaN
286,171851.00,107754.82,164840.90,NaN,NaN,NaN
287,1466325.00,730274.73,1050730.24,NaN,NaN,NaN
288,1648998.00,1035410.06,1419842.75,NaN,NaN,NaN

In [8]:
# Fill NaNs in 'Total FY20 Budget', 'Total FY20 Personnel Budget', and 'Total FY20 Reimbursement' with corresponding values
# in 'FY 20 Budget', 'Personnel Budget', and 'FY 20 Reimbursement' columns
fill_cols = ['Total FY20 Budget', 'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']
fill_dict = {
    'Total FY20 Budget': 'FY 20 Budget',
    'Total FY20 Personnel Budget': 'Personnel Budget',
    'Total FY20 Reimbursement': 'FY 20 Reimbursement'
}

for col in fill_cols:
    scpd.loc[scpd[col].isna(), col] = scpd.loc[scpd[col].isna(), col].fillna(scpd.loc[scpd[col].isna(), fill_dict[col]])
    
# Check to see that those specific rows have been filled appropriately
scpd.loc[budg_reim_nans.index, ['FY 20 Budget', 'Personnel Budget', 'FY 20 Reimbursement', 'Total FY20 Budget', 'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']]

,FY 20 Budget,Personnel Budget,FY 20 Reimbursement,Total FY20 Budget,Total FY20 Personnel Budget,Total FY20 Reimbursement
3,1289365.00,735227.66,1218745.04,1289365.00,735227.66,1218745.04
105,187556.00,119205.00,154187.28,187556.00,119205.00,154187.28
110,1191748.85,831404.13,1156048.00,1191748.85,831404.13,1156048.00
111,858483.19,587697.40,755918.89,858483.19,587697.40,755918.89
112,846919.00,362411.09,579071.58,846919.00,362411.09,579071.58
146,1043359.00,639726.27,604745.91,1043359.00,639726.27,604745.91
209,1417124.00,755912.38,1306070.22,1417124.00,755912.38,1306070.22
210,446362.00,204597.79,420444.92,446362.00,204597.79,420444.92
211,626000.00,193153.50,411426.77,626000.00,193153.50,411426.77
250,1300429.00,796655.84,1300429.00,1300429.00,796655.84,1300429.00
251,267523.00,157963.26,267523.00,267523.00,157963.26,267523.00
252,1137591.51,1001096.95,1115001.48,1137591.51,1001096.95,1115001.48
253,1105272.00,693177.65,1105272.00,1105272.00,693177.65,1105272.00
254,1062729.00,713226.40,976936.91,1062729.00,713226.40,976936.91
285,1242852.00,708084.29,934850.26,1242852.00,708084.29,934850.26
286,171851.00,107754.82,164840.90,171851.00,107754.82,164840.90
287,1466325.00,730274.73,1050730.24,1466325.00,730274.73,1050730.24
288,1648998.00,1035410.06,1419842.75,1648998.00,1035410.06,1419842.75

In [9]:
# Drop redundant budget and reimbursement columns
scpd.drop(columns = ['FY 20 Budget', 'Personnel Budget', 'FY 20 Reimbursement'], inplace = True)

print(f'The scpd dataframe now has this shape: {scpd.shape}')

# Rename columns to be more intuitive (based on data dictionary descriptions)
scpd.rename(columns = {
    'Total FY20 Budget': 'Total Budget',
    'Total FY20 Personnel Budget': 'Total Personnel Budget',
    'Total FY20 Reimbursement': 'Total Expenses'
}, inplace = True)

The scpd dataframe now has this shape: (294, 24)

In [10]:
# Pull only the rows that have NaNs in 'Latitude' or 'Longitude', and get the Program address from the original raw dataframe
lat_long_nans = scpd_raw.loc[(scpd_raw['Latitude'].isna()) & (scpd_raw['Longitude'].isna()), ['Provider Name', 'Program Address', 'Program Address1', 'Latitude', 'Longitude']]
lat_long_nans

,Provider Name,Program Address,Program Address1,Latitude,Longitude
102,ARROCHAR NEIGHBORHOOD SENIOR CENTER,44 BIONA AVENUE,NaN,NaN,NaN
126,MORRISANIA AIR RIGHTS SOCIAL CLUB,3135 PARK AVENUE EAST,NaN,NaN,NaN
139,RAIN MT CARMEL NEIGHBORHOOD SENIOR CTR,2405 SOUTHERN BOLULEVARD,NaN,NaN,NaN
169,HUGH GILROY NEIGHBORHOOD SENIOR CENTER,447 KINGSBOROUGH,NaN,NaN,NaN
179,HOMECREST BENSONHURST NEIGHBORHOOD SENIOR CENTER,BROOKLYN,NaN,NaN,NaN
192,CCNS ST CHARLES NEIGHBORHOOD SENIOR CENT,55 PIERREPORT STREET,NaN,NaN,NaN
214,POLO GROUNDS,2965 FREDERICK DOUGLASS BOULEVARD,NaN,NaN,NaN
228,JEFFERSON HOUSES NSC,2205 FIST AVENUE,NaN,NaN,NaN
231,FOOD BANK NEIGHBORHOOD SENIOR CENTER,WEST 116TH STREET,NaN,NaN,NaN
260,HANAC RAVENSWOOD NSC,34-35A 12TH STREET,12TH STREET,NaN,NaN
273,HOLLISWOOD NEIGHBORHOOD SENIOR CENTER,86-25 FRANCES LEWIS BLVD,NaN,NaN,NaN

In [11]:
# Fill NaNs in 'Latitude' and 'Longitude' with corresponding values in fill_dict
fill_cols = ['Latitude', 'Longitude']
fill_dict = {
    102: [40.596868706020445, -74.07555607642975],
    126: [40.82651347755042, -73.91661122662934],
    139: [40.85396935386981, -73.88190264660648],
    169: [40.67530765760249, -73.92446824134545],
    179: [40.602035938136076, -73.95715926297987],
    192: [40.696071010269755, -73.99506336199069],
    214: [40.830937975634, -73.93751073154422],
    228: [40.79462754058644, -73.93706847434424],
    231: [40.80412527380681, -73.95489674318942],
    260: [40.76252319677368, -73.93704370456038],
    273: [40.72522541418266, -73.76483607547621]
}
fill_df = pd.DataFrame(fill_dict.values(), index = fill_dict.keys(), columns = ['Latitude', 'Longitude'])

for col in fill_cols:
    scpd.loc[scpd[col].isna(), col] = scpd.loc[scpd[col].isna(), col].fillna(fill_df[col])

In [12]:
# Pull rows associated with meal budget & expenditure where the value is $0.00
scpd.loc[scpd['Total Meal Budget'] == 0, ['Kosher Meal Budget', 'Non-Kosher Meal Budget', 'Total Meal Budget', 'Average Meal Expenditure Per Client']]

,Kosher Meal Budget,Non-Kosher Meal Budget,Total Meal Budget,Average Meal Expenditure Per Client
5,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0
31,0.0,0.0,0.0,0.0
56,0.0,0.0,0.0,0.0
66,0.0,0.0,0.0,0.0
83,0.0,0.0,0.0,0.0
126,0.0,0.0,0.0,0.0
165,0.0,0.0,0.0,0.0
167,0.0,0.0,0.0,0.0
188,0.0,0.0,0.0,0.0
208,0.0,0.0,0.0,0.0
215,0.0,0.0,0.0,0.0
241,0.0,0.0,0.0,0.0
275,0.0,0.0,0.0,0.0
281,0.0,0.0,0.0,0.0
286,0.0,0.0,0.0,0.0
293,0.0,0.0,0.0,0.0

In [13]:
# Replace zeroes in 'Kosher Meal Budget', 'Non-Kosher Meal Budget', 'Total Meal Budget', 'Average Meal Expenditure Per Client', and 'Total AIB-SCE-HPP Expenditures' with NaN
fill_cols = ['Kosher Meal Budget', 'Non-Kosher Meal Budget', 'Total Meal Budget', 'Average Meal Expenditure Per Client', 'Total AIB-SCE-HPP Expenditures']

for col in fill_cols:
    scpd.loc[scpd[col] == 0, col] = scpd.loc[scpd[col].isna(), col].replace(0, np.nan)

In [14]:
# Fill NaNs in 'Total FTEs' and 'Months in HHS' columns with 0
for col in ['Total FTEs', 'Months in HHS']:
    scpd[col] = scpd[col].fillna(0)

In [15]:
# Title-case columns with strings
for col in ['Senior Center Name', 'Site Type', 'Borough', 'Meal Prep Type']:
    scpd[col] = scpd[col].str.title()

In [16]:
# Fill NaNs in 'Meal Prep Type' with 'Not Applicable'
scpd.loc[scpd['Meal Prep Type'].isna(), 'Meal Prep Type'] = scpd.loc[scpd['Meal Prep Type'].isna(), 'Meal Prep Type'].fillna('Not Applicable')

In [17]:
# Fill NaNs in 'Meal Prep For Other Centers' with 'No'
scpd.loc[scpd['Meal Prep For Other Centers'].isna(), 'Meal Prep For Other Centers'] = scpd.loc[scpd['Meal Prep For Other Centers'].isna(), 'Meal Prep For Other Centers'].fillna('No')

In [18]:
# Change data type of 'Total FTEs' and 'Months in HHS' to integer
for col in ['Total FTEs', 'Months in HHS']:
    scpd[col] = scpd[col].astype(int)

In [19]:
# Re-check which columns have NaNs, and count the total NaNs for that column
(scpd.isna().sum()).loc[(scpd.isna().sum()) > 0]

Average Daily Clients                          120
Kosher Meal Budget                             273
Non-Kosher Meal Budget                          39
Total Meal Budget                               18
Average Meal Expenditure Per Client             20
Total AIB-SCE-HPP Expenditures                   2
Average AIB-SCE-HPP Expenditures Per Client    120
dtype: int64

### Derive and add columns

In [20]:
# Add five derived columns to scpd dataframe
scpd['Total Employees'] = scpd['Total FTEs'] + scpd['Total PTEs']
scpd['PTE Status'] = scpd['Total PTEs'].apply(lambda num: 'Has No PTEs' if num == 0 else 'Has PTEs')
scpd['% Budget Allocated for Personnel'] = scpd['Total Personnel Budget'] / scpd['Total Budget']
scpd['% Budget Allocated for Meals'] = scpd['Total Meal Budget'] / scpd['Total Budget']
scpd['% Budget Used for AIB, SCE, & HPP Services'] = scpd['Total AIB-SCE-HPP Expenditures'] / scpd['Total Budget']

### Check the final cleaned dataframe

In [21]:
print(f'The cleaned scpd dataframe now has this shape: {scpd.shape}\n')
print(f'The columns are now named:\n{scpd.columns}')

The cleaned scpd dataframe now has this shape: (294, 29)

The columns are now named:
Index(['DFTA ID', 'Senior Center Name', 'Site Type', 'Borough',
       'Contract From Date', 'Contract To Date', 'Total FTEs', 'Total PTEs',
       'Months in HHS', 'Total Budget', 'Total Personnel Budget',
       'Total Expenses', 'Average Daily Clients', 'Kosher Meal Budget',
       'Non-Kosher Meal Budget', 'Total Meal Budget',
       'Average Meal Expenditure Per Client', 'Meal Prep Type',
       'Meal Prep For Other Centers', 'Total AIB-SCE-HPP Expenditures',
       'Average AIB-SCE-HPP Expenditures Per Client', 'Percent Utilization',
       'Latitude', 'Longitude', 'Total Employees', 'PTE Status',
       '% Budget Allocated for Personnel', '% Budget Allocated for Meals',
       '% Budget Used for AIB, SCE, & HPP Services'],
      dtype='object')

In [22]:
scpd.describe()

,Total FTEs,Total PTEs,Months in HHS,Total Budget,Total Personnel Budget,Total Expenses,Average Daily Clients,Kosher Meal Budget,Non-Kosher Meal Budget,Total Meal Budget,Average Meal Expenditure Per Client,Total AIB-SCE-HPP Expenditures,Average AIB-SCE-HPP Expenditures Per Client,Latitude,Longitude,Total Employees,% Budget Allocated for Personnel,% Budget Allocated for Meals,"% Budget Used for AIB, SCE, & HPP Services"
count,294.000000,294.000000,294.000000,2.940000e+02,2.940000e+02,2.940000e+02,174.000000,21.000000,255.000000,276.000000,274.000000,292.000000,174.000000,294.000000,294.000000,294.000000,294.000000,276.000000,292.000000
mean,6.829932,2.744898,6.758503,6.001199e+05,3.522007e+05,4.730442e+05,84.718391,253030.688095,269520.634745,268265.964891,9.817591,199473.516233,3164.909713,40.732432,-73.926244,9.574830,0.600610,0.441526,0.353668
std,4.822267,3.760704,1.998168,2.680105e+05,1.614202e+05,2.455709e+05,55.133322,100401.115498,137590.941155,135047.807388,5.804748,111439.382187,3915.332542,0.086868,0.076484,4.599248,0.130942,0.196045,0.178088
min,0.000000,0.000000,0.000000,2.066571e+04,-1.610078e+05,0.000000e+00,1.000000,73303.120000,9168.310000,9168.310000,1.410000,11057.280000,621.470000,40.509084,-74.220930,0.000000,-0.217550,0.037176,0.058955
25%,3.000000,0.000000,7.000000,4.624239e+05,2.673275e+05,3.436710e+05,52.250000,177761.010000,176885.020000,177261.790000,7.060000,128422.407500,1741.847500,40.669448,-73.970864,7.000000,0.529189,0.339183,0.252292
50%,7.000000,1.000000,7.000000,5.767714e+05,3.417357e+05,4.618748e+05,73.500000,245861.790000,252957.560000,250572.070000,8.960000,183894.435000,2479.845000,40.723679,-73.935417,9.000000,0.611498,0.436065,0.310457
75%,10.000000,4.000000,7.000000,7.167510e+05,4.289163e+05,5.875118e+05,101.750000,311860.810000,337383.225000,334809.322500,11.467500,242834.322500,3348.067500,40.811483,-73.885033,11.000000,0.670660,0.517308,0.409316
max,24.000000,16.000000,12.000000,1.648998e+06,1.035410e+06,1.419843e+06,319.000000,485140.230000,769929.360000,769929.360000,83.460000,856978.660000,48361.290000,40.905009,-73.723122,31.000000,1.039392,2.569692,1.224834

In [23]:
# Take a final look at the cleaned scpd dataframe
scpd

,DFTA ID,Senior Center Name,Site Type,Borough,Contract From Date,Contract To Date,Total FTEs,Total PTEs,Months in HHS,Total Budget,...,Total AIB-SCE-HPP Expenditures,Average AIB-SCE-HPP Expenditures Per Client,Percent Utilization,Latitude,Longitude,Total Employees,PTE Status,% Budget Allocated for Personnel,% Budget Allocated for Meals,"% Budget Used for AIB, SCE, & HPP Services"
0,12E01,Mosholu Montefiore Neighborhood Sr Ct,Neighborhood Senior Centers,Bronx,12/01/2019,06/30/2020,7,0,7,552097.71,...,107854.43,1609.77,100%+,40.881486,-73.881226,7,Has No PTEs,0.578655,0.284006,0.195354
1,15E01,The Neighborhood Self-Help By Older Persons Pr...,Senior Center,Bronx,07/01/2019,06/30/2020,4,12,12,967332.00,...,395854.81,3534.42,100%+,40.834198,-73.890157,16,Has PTEs,0.713406,0.336692,0.409223
2,22E01,Young Israel Sr Services Nbh Sr Ctr,Neighborhood Senior Centers,Brooklyn,12/01/2019,06/30/2020,0,10,7,644322.86,...,172093.41,1422.26,100%+,40.620447,-73.955405,10,Has PTEs,0.555704,0.491929,0.267092
3,35E01,The Educational Alliance Inc,Innovative Senior Centers,Manhattan,07/01/2019,06/30/2020,9,12,0,1289365.00,...,547321.42,4024.42,100%+,40.730657,-73.985041,21,Has PTEs,0.570225,0.502602,0.424489
4,12E02,Fort Independence Social Club,Neighborhood Senior Centers,Bronx,12/01/2019,06/30/2020,8,0,7,319129.71,...,56926.81,1674.32,100%+,40.880093,-73.900742,8,Has No PTEs,0.655196,0.280142,0.178381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,4A201,Pomonok Neighborhood Senior Center,Neighborhood Senior Centers,Queens,12/01/2019,06/30/2020,11,0,7,583805.14,...,138094.35,1569.25,100%+,40.735033,-73.814726,11,Has No PTEs,0.579582,0.516301,0.236542
290,50A01,Todt Hill Neighborhood Senior Center,Neighborhood Senior Centers,Staten Island,12/01/2019,06/30/2020,12,3,7,467674.35,...,93979.28,2473.14,100%+,40.609058,-74.119053,15,Has PTEs,0.829860,0.582007,0.200950
291,50B01,Mount Loretto Neighborhood Senior Cen,Neighborhood Senior Centers,Staten Island,12/01/2019,06/30/2020,13,4,7,773648.57,...,159727.36,1879.15,56%,40.509084,-74.220930,17,Has PTEs,0.605659,0.624975,0.206460
292,50R01,Cassidy Coles Neighborhood Senior Cent,Neighborhood Senior Centers,Staten Island,12/01/2019,06/30/2020,5,7,7,668334.86,...,187382.39,2204.50,100%+,40.641888,-74.096489,12,Has PTEs,0.559307,0.485323,0.280372
293,50R02,Casc Assistance,Neighborhood Senior Centers,Staten Island,12/01/2019,06/30/2020,0,8,7,371266.29,...,293927.21,NaN,100%+,40.643264,-74.077159,8,Has PTEs,0.951857,NaN,0.791688