# Data Cleaning
---

In [1]:
import pandas as pd

### Importing FY 2020 Senior Center .csv files as dataframes

In [2]:
sccd_raw = pd.read_csv('raw_csv/senior_center_client_data_fy2020.csv')
scpd_raw = pd.read_csv('raw_csv/senior_center_provider_data_fy2020.csv')

# Make a copy of the raw dataframes
sccd = sccd_raw.copy()
scpd = scpd_raw.copy()

---
### Cleaning Senior Center Provider Data

In [3]:
# Check for duplicated rows
print(f'There are {scpd.duplicated().sum()} duplicated rows in the scpd dataframe.')

There are 0 duplicated rows in the scpd dataframe.

In [4]:
print(f'The scpd dataframe currently has this shape: {scpd.shape}')

# Drop columns you won't be using
scpd.drop(columns = ['Sponsor Name', 'Program Address', 'Program Address1', 'Postcode',
                    'Community Board', 'Council D istrict', 'Sunday', 'Monday', 'Tuesday',
                     'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Fiscal Year Amount',
                     'FY 20 Actual Meals', 'Meal Prep', 'Meals Prep for Others', 'Borough',
                     'Latitude', 'Longitude', 'Census Tract', 'BIN', 'BBL', 'NTA'], inplace = True)

print(f'The scpd dataframe now has this shape: {scpd.shape}')

The scpd dataframe currently has this shape: (294, 49)
The scpd dataframe now has this shape: (294, 25)

In [5]:
# Rename columns to be more intuitive (based on data dictionary descriptions)
scpd.rename(columns = {
    'Provider Name': 'Senior Center Name',
    'Borough/City': 'Borough',
    '# of Full-time Staff': 'Total FTEs',
    '# of Part-time Staff': 'Total PTEs',
    'Average Daily Participants': 'Average Daily Clients',
    'Kosher Raw Food/ Disposable': 'Kosher Meal Budget',
    'Non-Kosher Raw Food/ Disposable': 'Non-Kosher Meal Budget',
    'Total Raw Food/ Disposable': 'Total Meal Budget',
    'Expenditures per Meal for Food and Disposable': 'Average Meal Expenditure Per Client',
    'Meal Prep1': 'Meal Prep Type',
    'Prep for Others1': 'Meal Prep For Other Centers',
    'Annual Expenditures for Information and Assistance, Education and Recreation, Health Promotion': 'Total AIB-SCE-HPP Expenditures',
    'Annual Expenditures Per Client for Information and Assistance, Education and Recreation, Health Promotion': 'Average AIB-SCE-HPP Expenditures Per Client',
    'Ultilization': 'Percent Utilization'
}, inplace = True)

print(f'The columns are now named:\n{scpd.columns}')

The columns are now named:
Index(['DFTA ID', 'Senior Center Name', 'Site Type', 'Borough',
       'Contract From Date', 'Contract To Date', 'FY 20 Budget',
       'FY 20 Reimbursement', 'Total FTEs', 'Total PTEs', 'Personnel Budget',
       'Months in HHS', 'Total FY20 Budget', 'Total FY20 Personnel Budget',
       'Total FY20 Reimbursement', 'Average Daily Clients',
       'Kosher Meal Budget', 'Non-Kosher Meal Budget', 'Total Meal Budget',
       'Average Meal Expenditure Per Client', 'Meal Prep Type',
       'Meal Prep For Other Centers', 'Total AIB-SCE-HPP Expenditures',
       'Average AIB-SCE-HPP Expenditures Per Client', 'Percent Utilization'],
      dtype='object')

In [6]:
# Check which columns have NaNs, and count the total NaNs for that column
(scpd.isna().sum()).loc[(scpd.isna().sum()) > 0]

Total FTEs                                       1
Months in HHS                                   18
Total FY20 Budget                               18
Total FY20 Personnel Budget                     18
Total FY20 Reimbursement                        18
Average Daily Clients                          120
Meal Prep Type                                  27
Meal Prep For Other Centers                     27
Average AIB-SCE-HPP Expenditures Per Client    120
dtype: int64

In [7]:
# Pull only the rows that have NaNs in 'Total FY20 Budget', 'Total FY20 Personnel Budget', and 'Total FY20 Reimbursement'
budg_reim_nans = scpd.loc[scpd['Total FY20 Budget'].isna(), ['FY 20 Budget', 'Personnel Budget', 'FY 20 Reimbursement', 'Total FY20 Budget',
                                       'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']]
budg_reim_nans

,FY 20 Budget,Personnel Budget,FY 20 Reimbursement,Total FY20 Budget,Total FY20 Personnel Budget,Total FY20 Reimbursement
3,1289365.00,735227.66,1218745.04,NaN,NaN,NaN
105,187556.00,119205.00,154187.28,NaN,NaN,NaN
110,1191748.85,831404.13,1156048.00,NaN,NaN,NaN
111,858483.19,587697.40,755918.89,NaN,NaN,NaN
112,846919.00,362411.09,579071.58,NaN,NaN,NaN
146,1043359.00,639726.27,604745.91,NaN,NaN,NaN
209,1417124.00,755912.38,1306070.22,NaN,NaN,NaN
210,446362.00,204597.79,420444.92,NaN,NaN,NaN
211,626000.00,193153.50,411426.77,NaN,NaN,NaN
250,1300429.00,796655.84,1300429.00,NaN,NaN,NaN
251,267523.00,157963.26,267523.00,NaN,NaN,NaN
252,1137591.51,1001096.95,1115001.48,NaN,NaN,NaN
253,1105272.00,693177.65,1105272.00,NaN,NaN,NaN
254,1062729.00,713226.40,976936.91,NaN,NaN,NaN
285,1242852.00,708084.29,934850.26,NaN,NaN,NaN
286,171851.00,107754.82,164840.90,NaN,NaN,NaN
287,1466325.00,730274.73,1050730.24,NaN,NaN,NaN
288,1648998.00,1035410.06,1419842.75,NaN,NaN,NaN

In [8]:
# Fill NaNs in 'Total FY20 Budget', 'Total FY20 Personnel Budget', and 'Total FY20 Reimbursement' with corresponding values
# in 'FY 20 Budget', 'Personnel Budget', and 'FY 20 Reimbursement' columns
fill_cols = ['Total FY20 Budget', 'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']
fill_dict = {
    'Total FY20 Budget': 'FY 20 Budget',
    'Total FY20 Personnel Budget': 'Personnel Budget',
    'Total FY20 Reimbursement': 'FY 20 Reimbursement'
}

for col in fill_cols:
    scpd.loc[scpd[col].isna(), col] = scpd.loc[scpd[col].isna(), col].fillna(scpd.loc[scpd[col].isna(), fill_dict[col]])
    
# Check to see that those specific rows have been filled appropriately
scpd.loc[budg_reim_nans.index, ['FY 20 Budget', 'Personnel Budget', 'FY 20 Reimbursement', 'Total FY20 Budget', 'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']]

,FY 20 Budget,Personnel Budget,FY 20 Reimbursement,Total FY20 Budget,Total FY20 Personnel Budget,Total FY20 Reimbursement
3,1289365.00,735227.66,1218745.04,1289365.00,735227.66,1218745.04
105,187556.00,119205.00,154187.28,187556.00,119205.00,154187.28
110,1191748.85,831404.13,1156048.00,1191748.85,831404.13,1156048.00
111,858483.19,587697.40,755918.89,858483.19,587697.40,755918.89
112,846919.00,362411.09,579071.58,846919.00,362411.09,579071.58
146,1043359.00,639726.27,604745.91,1043359.00,639726.27,604745.91
209,1417124.00,755912.38,1306070.22,1417124.00,755912.38,1306070.22
210,446362.00,204597.79,420444.92,446362.00,204597.79,420444.92
211,626000.00,193153.50,411426.77,626000.00,193153.50,411426.77
250,1300429.00,796655.84,1300429.00,1300429.00,796655.84,1300429.00
251,267523.00,157963.26,267523.00,267523.00,157963.26,267523.00
252,1137591.51,1001096.95,1115001.48,1137591.51,1001096.95,1115001.48
253,1105272.00,693177.65,1105272.00,1105272.00,693177.65,1105272.00
254,1062729.00,713226.40,976936.91,1062729.00,713226.40,976936.91
285,1242852.00,708084.29,934850.26,1242852.00,708084.29,934850.26
286,171851.00,107754.82,164840.90,171851.00,107754.82,164840.90
287,1466325.00,730274.73,1050730.24,1466325.00,730274.73,1050730.24
288,1648998.00,1035410.06,1419842.75,1648998.00,1035410.06,1419842.75

In [10]:
# Re-check which columns have NaNs, and count the total NaNs for that column
(scpd.isna().sum()).loc[(scpd.isna().sum()) > 0]

Total FTEs                                       1
Months in HHS                                   18
Average Daily Clients                          120
Meal Prep Type                                  27
Meal Prep For Other Centers                     27
Average AIB-SCE-HPP Expenditures Per Client    120
dtype: int64

In [11]:
# Drop redundant budget and reimbursement columns
scpd.drop(columns = ['FY 20 Budget', 'Personnel Budget', 'FY 20 Reimbursement'], inplace = True)

print(f'The scpd dataframe now has this shape: {scpd.shape}')

The scpd dataframe now has this shape: (294, 22)

In [20]:
# Title-case columns with strings
str_cols = ['Senior Center Name', 'Site Type', 'Borough', 'Meal Prep Type']

for col in str_cols:
    scpd[col] = scpd[col].str.title()

In [21]:
# Take a final look at the cleaned scpd dataframe

for col in scpd.columns:
    print(f'{scpd.value_counts(col)}\n')

DFTA ID
10101    1
32B02    1
33W01    1
33703    1
33702    1
        ..
22B01    1
22A01    1
22801    1
22502    1
64901    1
Length: 294, dtype: int64

Senior Center Name
Forest Hills Neighborhood Senior Center                        2
Pss Andrew Jackson Neighborhood Sr Ct                          1
Rain Boston Secor Neighborhood Sr Ctr                          1
Rain Boston Road Neighborhood Senior C                         1
Rain Boston East Neighborhood Senior Ct                        1
                                                              ..
Goddard Riverside Neighborhood Sc                              1
Glenmore Social Club                                           1
Gaylord White Neighborhood Senior Center                       1
Fort Independence Social Club                                  1
Young Mens And Womens Hebrew Asso Washington Heights Inwood    1
Length: 293, dtype: int64

Site Type
Neighborhood Senior Centers    271
Innovative Senior Centers       18
Senior Center                    5
dtype: int64

Borough
Brooklyn         97
Manhattan        73
Bronx            56
Queens           56
Staten Island    12
dtype: int64

Contract From Date
12/01/2019    238
07/01/2019     25
11/01/2019     21
01/01/2020      4
02/01/2020      4
05/01/2020      1
08/01/2019      1
dtype: int64

Contract To Date
06/30/2020    294
dtype: int64

Total FTEs
0.0     43
8.0     33
7.0     32
9.0     23
6.0     21
11.0    19
5.0     19
10.0    18
3.0     12
2.0     12
1.0     12
12.0    11
4.0     10
16.0     5
14.0     5
13.0     4
15.0     3
17.0     3
19.0     3
21.0     2
18.0     1
20.0     1
24.0     1
dtype: int64

Total PTEs
0     145
1      26
4      25
3      17
5      13
10     13
8      12
2       9
6       9
7       6
12      5
13      5
9       4
11      3
15      1
16      1
dtype: int64

Months in HHS
7.0     238
8.0      21
12.0      9
5.0       4
6.0       2
2.0       1
11.0      1
dtype: int64

Total FY20 Budget
20665.71      1
636798.86     1
668334.86     1
659814.86     1
658542.86     1
             ..
503254.29     1
501241.71     1
500622.86     1
496818.00     1
1648998.00    1
Length: 294, dtype: int64

Total FY20 Personnel Budget
-161007.82     1
 376961.88     1
 393693.22     1
 392692.10     1
 390780.48     1
              ..
 288876.53     1
 288719.71     1
 288335.98     1
 287835.77     1
 1035410.06    1
Length: 294, dtype: int64

Total FY20 Reimbursement
0.00          3
604745.91     2
525356.73     1
534093.63     1
532734.66     1
             ..
383571.34     1
382130.91     1
378975.79     1
376274.43     1
1419842.75    1
Length: 291, dtype: int64

Average Daily Clients
40.0     6
56.0     5
77.0     4
76.0     4
59.0     4
        ..
73.0     1
72.0     1
71.0     1
69.0     1
319.0    1
Length: 107, dtype: int64

Kosher Meal Budget
0.00         273
73303.12       1
411352.58      1
391703.60      1
351532.13      1
325080.41      1
311860.81      1
275876.24      1
269255.69      1
267627.82      1
248200.73      1
245861.79      1
230475.58      1
224173.44      1
203017.48      1
186849.07      1
177761.01      1
174582.99      1
171800.73      1
169904.74      1
118284.26      1
485140.23      1
dtype: int64

Non-Kosher Meal Budget
0.00         39
9168.31       1
291242.96     1
296654.19     1
297939.42     1
             ..
222613.69     1
222653.71     1
222985.45     1
223001.48     1
769929.36     1
Length: 256, dtype: int64

Total Meal Budget
0.00         18
304107.75     1
311860.81     1
311609.32     1
309891.00     1
             ..
222613.69     1
222653.71     1
222985.45     1
223001.48     1
769929.36     1
Length: 277, dtype: int64

Average Meal Expenditure Per Client
0.00     20
7.56      3
7.06      3
5.93      2
5.98      2
         ..
8.17      1
8.21      1
8.27      1
8.30      1
83.46     1
Length: 241, dtype: int64

Meal Prep Type
Meal Prep On-Site    149
Catered              101
Both                  13
Not Applicable         4
dtype: int64

Meal Prep For Other Centers
No     223
Yes     44
dtype: int64

Total AIB-SCE-HPP Expenditures
0.00         2
212043.70    1
220168.74    1
219927.40    1
219182.09    1
            ..
148276.39    1
148130.61    1
147443.32    1
147277.32    1
856978.66    1
Length: 293, dtype: int64

Average AIB-SCE-HPP Expenditures Per Client
621.47      1
3055.48     1
2876.56     1
2892.07     1
2908.22     1
           ..
1928.23     1
1949.50     1
2004.05     1
2017.27     1
48361.29    1
Length: 174, dtype: int64

Percent Utilization
100%+    268
0%         5
89%        2
47%        2
73%        1
84%        1
83%        1
8%         1
79%        1
78%        1
77%        1
56%        1
7%         1
55%        1
43%        1
35%        1
32%        1
3%         1
25%        1
24%        1
98%        1
dtype: int64