# Data Cleaning
---

In [1]:
import pandas as pd

### Importing FY 2020 Senior Center .csv files as dataframes

In [2]:
sccd_raw = pd.read_csv('raw_csv/senior_center_client_data_fy2020.csv')
scpd_raw = pd.read_csv('raw_csv/senior_center_provider_data_fy2020.csv')

# Make a copy of the raw dataframes
sccd = sccd_raw.copy()
scpd = scpd_raw.copy()

---
### Cleaning Senior Center Provider Data

In [3]:
# Check for duplicated rows
print(f'There are {scpd.duplicated().sum()} duplicated rows in the scpd dataframe.')

There are 0 duplicated rows in the scpd dataframe.

In [4]:
print(f'The scpd dataframe currently has this shape: {scpd.shape}')

# Drop columns you won't be using
scpd.drop(columns = ['Sponsor Name', 'Program Address', 'Program Address1', 'Postcode',
                    'Community Board', 'Council D istrict', 'Sunday', 'Monday', 'Tuesday',
                     'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Fiscal Year Amount',
                     'FY 20 Actual Meals', 'Meal Prep', 'Meals Prep for Others', 'Borough',
                     'Latitude', 'Longitude', 'Census Tract', 'BIN', 'BBL', 'NTA'], inplace = True)

print(f'The scpd dataframe now has this shape: {scpd.shape}')

The scpd dataframe currently has this shape: (294, 49)
The scpd dataframe now has this shape: (294, 25)

In [5]:
# Rename columns to be more intuitive (based on data dictionary descriptions)
scpd.rename(columns = {
    'Provider Name': 'Senior Center Name',
    'Borough/City': 'Borough',
    '# of Full-time Staff': 'Total FTEs',
    '# of Part-time Staff': 'Total PTEs',
    'Average Daily Participants': 'Average Daily Clients',
    'Kosher Raw Food/ Disposable': 'Kosher Meal Budget',
    'Non-Kosher Raw Food/ Disposable': 'Non-Kosher Meal Budget',
    'Total Raw Food/ Disposable': 'Total Meal Budget',
    'Expenditures per Meal for Food and Disposable': 'Average Meal Expenditure Per Client',
    'Meal Prep1': 'Meal Prep Type',
    'Prep for Others1': 'Meal Prep For Other Centers',
    'Annual Expenditures for Information and Assistance, Education and Recreation, Health Promotion': 'Total AIB-SCE-HPP Expenditures',
    'Annual Expenditures Per Client for Information and Assistance, Education and Recreation, Health Promotion': 'Average AIB-SCE-HPP Expenditures Per Client',
    'Ultilization': 'Percent Utilization'
}, inplace = True)

print(f'The columns are now named:\n{scpd.columns}')

The columns are now named:
Index(['DFTA ID', 'Senior Center Name', 'Site Type', 'Borough',
       'Contract From Date', 'Contract To Date', 'FY 20 Budget',
       'FY 20 Reimbursement', 'Total FTEs', 'Total PTEs', 'Personnel Budget',
       'Months in HHS', 'Total FY20 Budget', 'Total FY20 Personnel Budget',
       'Total FY20 Reimbursement', 'Average Daily Clients',
       'Kosher Meal Budget', 'Non-Kosher Meal Budget', 'Total Meal Budget',
       'Average Meal Expenditure Per Client', 'Meal Prep Type',
       'Meal Prep For Other Centers', 'Total AIB-SCE-HPP Expenditures',
       'Average AIB-SCE-HPP Expenditures Per Client', 'Percent Utilization'],
      dtype='object')

In [6]:
# Check which columns have NaNs, and count the total NaNs for that column
(scpd.isna().sum()).loc[(scpd.isna().sum()) > 0]

Total FTEs                                       1
Months in HHS                                   18
Total FY20 Budget                               18
Total FY20 Personnel Budget                     18
Total FY20 Reimbursement                        18
Average Daily Clients                          120
Meal Prep Type                                  27
Meal Prep For Other Centers                     27
Average AIB-SCE-HPP Expenditures Per Client    120
dtype: int64

In [10]:
# Pull only the rows that have NaNs in 'Total FY20 Budget', 'Total FY20 Personnel Budget', and 'Total FY20 Reimbursement'
scpd.loc[scpd['Total FY20 Budget'].isna(), ['FY 20 Budget', 'FY 20 Reimbursement', 'Personnel Budget', 'Total FY20 Budget',
                                       'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']]

,FY 20 Budget,FY 20 Reimbursement,Personnel Budget,Total FY20 Budget,Total FY20 Personnel Budget,Total FY20 Reimbursement
3,1289365.00,1218745.04,735227.66,NaN,NaN,NaN
105,187556.00,154187.28,119205.00,NaN,NaN,NaN
110,1191748.85,1156048.00,831404.13,NaN,NaN,NaN
111,858483.19,755918.89,587697.40,NaN,NaN,NaN
112,846919.00,579071.58,362411.09,NaN,NaN,NaN
146,1043359.00,604745.91,639726.27,NaN,NaN,NaN
209,1417124.00,1306070.22,755912.38,NaN,NaN,NaN
210,446362.00,420444.92,204597.79,NaN,NaN,NaN
211,626000.00,411426.77,193153.50,NaN,NaN,NaN
250,1300429.00,1300429.00,796655.84,NaN,NaN,NaN
251,267523.00,267523.00,157963.26,NaN,NaN,NaN
252,1137591.51,1115001.48,1001096.95,NaN,NaN,NaN
253,1105272.00,1105272.00,693177.65,NaN,NaN,NaN
254,1062729.00,976936.91,713226.40,NaN,NaN,NaN
285,1242852.00,934850.26,708084.29,NaN,NaN,NaN
286,171851.00,164840.90,107754.82,NaN,NaN,NaN
287,1466325.00,1050730.24,730274.73,NaN,NaN,NaN
288,1648998.00,1419842.75,1035410.06,NaN,NaN,NaN

In [17]:

scpd.loc[scpd['Total FY20 Budget'].isna(),['Total FY20 Budget', 'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']]

     Total FY20 Budget  Total FY20 Personnel Budget  Total FY20 Reimbursement
3                  NaN                          NaN                       NaN
105                NaN                          NaN                       NaN
110                NaN                          NaN                       NaN
111                NaN                          NaN                       NaN
112                NaN                          NaN                       NaN
146                NaN                          NaN                       NaN
209                NaN                          NaN                       NaN
210                NaN                          NaN                       NaN
211                NaN                          NaN                       NaN
250                NaN                          NaN                       NaN
251                NaN                          NaN                       NaN
252                NaN                          NaN                       NaN
253                NaN                          NaN                       NaN
254                NaN                          NaN                       NaN
285                NaN                          NaN                       NaN
286                NaN                          NaN                       NaN
287                NaN                          NaN                       NaN
288                NaN                          NaN                       NaN

In [18]:
scpd.loc[scpd['Total FY20 Budget'].isna(),['FY 20 Budget', 'Personnel Budget', 'FY 20 Reimbursement']]

     FY 20 Budget  Personnel Budget  FY 20 Reimbursement
3      1289365.00         735227.66           1218745.04
105     187556.00         119205.00            154187.28
110    1191748.85         831404.13           1156048.00
111     858483.19         587697.40            755918.89
112     846919.00         362411.09            579071.58
146    1043359.00         639726.27            604745.91
209    1417124.00         755912.38           1306070.22
210     446362.00         204597.79            420444.92
211     626000.00         193153.50            411426.77
250    1300429.00         796655.84           1300429.00
251     267523.00         157963.26            267523.00
252    1137591.51        1001096.95           1115001.48
253    1105272.00         693177.65           1105272.00
254    1062729.00         713226.40            976936.91
285    1242852.00         708084.29            934850.26
286     171851.00         107754.82            164840.90
287    1466325.00         730274.73           1050730.24
288    1648998.00        1035410.06           1419842.75

In [25]:
# scpd.loc[scpd['Total FY20 Budget'].isna(),['Total FY20 Budget', 'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']]
# replace_df = scpd.loc[scpd['Total FY20 Budget'].isna(),['FY 20 Budget', 'Personnel Budget', 'FY 20 Reimbursement']]

# # Replace NaNs with corresponding replace values
# nan_df.fillna(replace_df, inplace = True)




scpd['Total FY20 Budget'].isna()#,['Total FY20 Budget', 'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']]['Total FY20 Budget', 'Total FY20 Personnel Budget', 'Total FY20 Reimbursement']

0      False
1      False
2      False
3       True
4      False
       ...
289    False
290    False
291    False
292    False
293    False
Name: Total FY20 Budget, Length: 294, dtype: bool

In [22]:
(scpd.isna().sum()).loc[(scpd.isna().sum()) > 0]

Total FTEs                                       1
Months in HHS                                   18
Total FY20 Budget                               18
Total FY20 Personnel Budget                     18
Total FY20 Reimbursement                        18
Average Daily Clients                          120
Meal Prep Type                                  27
Meal Prep For Other Centers                     27
Average AIB-SCE-HPP Expenditures Per Client    120
dtype: int64